.cc-container{
  display: flex;
  flex-direction: row-reverse;

  --cor-fundo :#292524;
  --cor-fundo-verso: #44403c;

}

.cc-div-carta{  
  width: 12.6cm;
  height: 8.8cm;
  display: flex;
  flex-direction: row;
  margin : 0px 0 8px 8px;
}

hr{
  color: white;
}

.cc-carta{
  flex-direction: column;
  display: flex;
  width: var(--carta-largura);
  height: var(--carta-altura);
  background-color: var(--cor-fundo);
  border-radius: var(--carta-arrendamento);
  gap: 2px;
}

.cc-topo{
  background-color: #1c1917;
  width: 100%;
  height: 12%;
  border-top-right-radius: var(--carta-arrendamento);
  border-top-left-radius: var(--carta-arrendamento);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.cc-meio{
  padding: 2px;
  width: 100%;
  height: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cc-div-imagem{
  position: relative;
  height: 136px;
  width: 136px;
}

.cc-imagem{
  object-fit: cover;
  border-radius: 4px;
}

.cc-rodape{
  width: 100%;
  height: 40%;
  padding: 4px;
  border-bottom-right-radius: var(--carta-arrendamento);
  border-bottom-left-radius: var(--carta-arrendamento);
}

.cc-meta{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #57534e, #78716c);
  border-bottom-right-radius: var(--carta-arrendamento);
  border-bottom-left-radius: var(--carta-arrendamento);
  padding: 0 2px 0 2px;
}

.cc-meta-topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 25px 4px 25px;
}

.cc-meta-topo-item{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 2px;  
}

.cc-meta-texto{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 9px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: none;
  margin-top: 4px;
  text-align: justify;
}

.cc-botao{
  background-color: var(--cor-secundaria);
  padding: 10px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
  color: white;
}

.cc-botao:hover{
  background-color: var(--cor-secundaria-selecionada);
}

.cc-edit-oculto{
  visibility: hidden;
  display: none;
}

.cc-carta-verso{
  background-color: var(--cor-fundo-verso);
  padding: var(--carta-padding);
  width: var(--carta-largura);
  height: var(--carta-altura);
  border-radius: var(--carta-arrendamento);
}

.cc-verso-interno{
  background-color: var(--cor-fundo);
  height: 100%;
  width: 100%;
  border-radius: var(--carta-arrendamento);
  font-size: 9px;
  padding: var(--carta-padding);  
}

.cc-vi-atributos{
  display: flex;
  justify-content: space-between;
}

.cc-viat-item{
  display: flex;
  flex-direction: column;
  width: 36px;
  align-items: center;
}

.cc-linha{
  margin: 2px 0 2px 0;
}

.cc-verso-texto{
  display: flex;
  flex-direction: column;
  text-align: justify;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: none;
}

.cc-div-botao{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cc-div-edicao{
  background-color: var(--cor-elementos);
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: 4px;
  gap: 4px;
  width: 100%;
  margin-bottom: 8px;
}

@media screen and (max-width: 600px)  {
  .cc-div-carta{
    flex-direction: column;
    height: 17.6cm;
    margin : 0px 0 8px 0px;
  }

  .cc-container{
    flex-direction: column-reverse;
  }

}

.cc-div-agrupar-linha{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.cc-btn-ataque{
  height: 40px;
  width: 100px;
  background-color: var(--cor-secundaria);
  padding: 10px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
  color: white;
  position: relative;
  top: 35%;
}

.cc-btn-ataque:hover{
  background-color: var(--cor-secundaria-selecionada);
}