.card-container{
  height: auto;
  width: 100%;
  padding: 8px;
  overflow: hidden; /* Oculta o texto extra */
  transition: height 0.3s ease-in-out; /* Animação suave */
  border-radius: 4px;
  background-color: var(--cor-elementos);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}
