.ci-container{
  display: flex;
  flex-direction: row-reverse;

  --cor-600: #d97706;
  --cor-700: #b45309;
  --cor-900: #78350f;

  --cor-fundo: #A2531C;
  --cor-interno: #F0982C;
}

.ci-div-carta{  
  width: 12.6cm;
  height: 8.8cm;
  display: flex;
  flex-direction: row;
  color: white;
  margin : 0px 0 8px 8px;
}

.ci-carta{
  flex-direction: column;
  display: flex;
  width: var(--carta-largura);
  height: var(--carta-altura);
  border-radius: var(--carta-arrendamento);
  gap: 2px;
  padding: var(--carta-padding);
}

.ci-cor{
  background-color: var(--cor-fundo);
}

.ci-cor-verso{
  background-color: var(--cor-interno);
}

.ci-interno-verso{
  background-color: var(--cor-fundo);
  width: 100%;
  height: 100%;  
  border-radius: var(--carta-arrendamento);
  padding: var(--carta-padding);
  font-size: 12px;
  overflow: hidden;
  text-overflow: none;
  word-wrap: pre-wrap;
  text-align: justify;
}

.ci-topo{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 4px;    
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(235, 160, 66, 0.3);
  position: relative;
}

.ci-borda-topo{
  width: 32px;
  height: 32px;
  position: absolute;
  top: -6px;
  left: -6px;
  z-index: 100;
  transform: rotate(90deg); 
}

.ci-borda-rodape{
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: -8px;
  right: -6px;
  z-index: 100;
  transform: rotate(270deg); 
}

.ci-tp-interno{
  background-color: var(--cor-600);
  width: 100%;
  height: 100%;
  border-top-right-radius: var(--carta-arrendamento);
  border-top-left-radius: var(--carta-arrendamento);
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2px;
  gap: 2px;
  border: 1px solid var(--cor-900);
}

.ci-tpi-imagem{
  width: 100%;
  height: 100%;
  background-color: var(--cor-interno);
  border-top-right-radius: var(--carta-arrendamento);
  border-top-left-radius: var(--carta-arrendamento);
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid var(--cor-900);
}

.ci-tpi-imagem-comcarga{
  width: 90%;
  height: 100%;
  background-color: var(--cor-interno);
  border-top-left-radius: var(--carta-arrendamento);
  align-items: center;
  justify-content: center;
  display: flex;  
  border: 1px solid var(--cor-900);
}

.ci-tpi-carga{
  width: 10%;
  height: 100%;
  background-color: var(--cor-interno);
  border-top-right-radius: var(--carta-arrendamento);
  align-items: center;
  display: flex;
  padding: 2px;
  flex-direction: column-reverse;
  gap: 2px;  
  border: 1px solid var(--cor-900);
}

.ci-carga{
  width: 15px;
  height: 14px;
  background-color: yellow;
  border: 2px solid var(--cor-700);
  border-radius: 2px;
}

.ci-meio{
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.ci-rodape{
  width: 100%;
  height: 35%;
  background-color: var(--cor-600);
  padding: 2px;
  border-bottom-right-radius: var(--carta-arrendamento);
  border-bottom-left-radius: var(--carta-arrendamento);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(235, 160, 66, 0.3);  
  border: 1px solid var(--cor-900);
  position: relative;
}

.ci-rp-interno{
  width: 100%;
  height: 100%;
  background-color: var(--cor-interno);
  overflow: hidden;
  padding: 2px;
  border-bottom-right-radius: var(--carta-arrendamento);
  border-bottom-left-radius: var(--carta-arrendamento); 
  border: 1px solid var(--cor-900);
  /* position: relative; */
}

.ci-div-imagem{
  position: relative;
  height: 136px;
  width: 136px;
}

.ci-imagem{
  object-fit: cover;
  border-radius: 4px;
}

.ci-rp-texto{
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 12px;
  overflow: hidden;
  white-space: pre-wrap;
}

.ci-me-fundo{
  width: 55px;
  height: 46px;
  background-color: var(--cor-700);
  border-radius: 4px;
  padding: 4px;
  transform: rotate(45deg); /* Rotação em graus */
  margin-left: 10px;
  z-index: 99999;
  border: 1px solid var(--cor-900);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(235, 160, 66, 0.3);
}

.ci-me-frente{
  width: 100%;
  height: 100%;
  background-color: var(--cor-interno);
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.ci-me-titulo{
  background-color: var(--cor-interno);
  border-top: 4px solid var(--cor-600);
  border-bottom: 4px solid var(--cor-600);
  height: 100%; 
  width: 88%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  position: absolute;
  z-index: 88;
  padding: 2px 0 2px 25px;
}

.ci-me-valor{
  transform: rotate(-45deg); /* Rotação em graus */
  text-align: center;
  font-size: 12px;  
}

.ci-div-botao{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ci-botao{
  background-color: var(--cor-secundaria);
  padding: 10px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
  color: white;
}

.ci-botao:hover{
  background-color: var(--cor-secundaria-selecionada);
}

.ci-edit-oculto{
  visibility: hidden;
  display: none;
}

.ci-div-edicao{
  background-color: var(--cor-elementos);
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: 4px;
  gap: 4px;
  width: 100%;
  /* overflow: hidden; */
  margin-bottom: 8px;
}

.ci-div-edit{
  width: 100%;
}

.ci-edit{
  border: 1px solid rgba(0, 0, 0, 0.2); /* Contorno suave */
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
  width: 100%;
  margin-top: 2px;
  font-size: 16px;  
  background-color: var(--cor-backgroud);
  color: white;
}

.ci-textearea{
  height: 80px;
}

.ci-edit:focus {
  border-color:  var(--cor-primaria); /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.ci-me-titulo-ponta{
  transform: rotate(-43deg); /* Rotação em graus */
  text-align: center;
  font-size: 12px;  
  height: 33px;
  width: 31px;
  background-color: var(--cor-interno);
  border-bottom-right-radius:  2px;
  border-bottom: 3px solid var(--cor-600); ;
  border-right: 3px solid var(--cor-600);
  position: absolute;
  right: 7px;
  top: 13%;
  z-index: 10;
}

.ci-me-div-titulo{
  height: 45px; 
  width: 100%;
  position: relative;
  margin-left: -15px;
  margin-top: 1px;
  z-index: 0; 
  display: flex;
}

.ci-vs-texto{
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 12px;
  overflow: hidden;
  white-space: pre-wrap;
}

@media screen and (max-width: 600px)  {
  .ci-div-carta{
    flex-direction: column;
    height: 17.6cm;
    margin : 0px 0 8px 0px;
  }

  .ci-container{
    flex-direction: column-reverse;
  }

}