.hd-container{
  height: 70px;
  padding-top: 8px;
  padding-bottom: 4px;
  background-color: chocolate;  
  align-items: center;
  margin-right: 8px;
  border-top-right-radius: 4px;
  position: static;
  top: 0;
}
