

.tx-textearea{
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Contorno suave */
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
  margin-top: 2px;
  font-size: 16px;  
  background-color: var(--cor-backgroud);
  color: white;
  text-align: justify;
}

.tx-textearea:focus {
  border-color:  var(--cor-primaria); /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.tx-div-edit{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}