.ped-cabecalho{
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.ped-cb-linha1{
  display: flex;
  gap: 8px;
}

.ped-cb-bloco1{
  display: flex;
  flex-direction: column;
}

.ped-cb-bloco2{
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.ped-cb-bloco4{
  display: flex;
  gap: 4px;
  font-size: medium;
}

.ped-cb-linha2{
  display: flex;
  gap: 8px;
  padding: 2px 0 2px 0;
}

.ped-cb-icone{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.ped-es-classe{
  width: 100%;
  height: 100%; 
  filter: brightness(0) invert(1);
  padding: 4px;
}

.ped-habilidade{
  padding: 4px;
  border-radius: 2px;
  border: 4px double white;
  display: flex;
  height: 350px;
  width: 200px;
}

.ped-flag {
  width: 75px;
  height: 65px;
  background: white;
  text-align: center;
  padding: 2px 0 4px 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;  
}

.ped-flag-interno{
  width: 100%;
  height: 100%;
  background: rgb(41, 40, 40);
  text-align: center;
  padding: 4px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;  
}