.pc-circular-progress{
  position: relative;
  margin: 20%;
}

.pc-spinner{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #e0e0e0; /* Cor do fundo */
  border-top: 4px solid var(--cor-elementos); /* Cor da barra */
  animation: spin 1.5s linear infinite; /* Animação infinita */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}