.sd-container{
  width: 65px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-primaria);  
  overflow: hidden; 
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;  
}

.sd-container-img{
  width: 52px;
  height: 50px;
  padding: 4px 4px 4px 0;
  filter: var(--invert-svg-cor-secundaria);
}

.sd_logo{
  width: 52px;
  height: 50px;
  padding: 0px 4px 4px 4px;
  margin: 12px 0 16px 4px;
  filter: var(--invert-svg-cor-secundaria);
}

.sd-container-img:hover {
  /* background-color: var(--cor-selecionada); */
   /* rgba(255, 255, 255, 0.1); */
  /* border-radius: 5px; */
  transform: scale(1.1);
}

.sd-container-img:active {
  transform: scale(0.9);
}

.sd-div-item{
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-bottom: 2px;
}

.sd-div-item-selecionado{
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  margin-bottom: 2px;
  background-color: var(--cor-selecionada);
  border-radius: 2px;
}

.sd-div-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.siv-div-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
  padding-bottom: 4px;
}