.fi-div-iniciativa{

  /* div item*/
  --fi-width: 220px;
  --fi-gap: 2px;
  --fi-padding: 6px;
  --fi-border-radius: 6px;
  --fi-display: flex;
  --fi-flex-direction: column;
  --fi-justify-content: center;
  --fi-justify-items: center;
  --fi-align-items: center; 

  /* div vida*/
  --fi-vida-padding: 8px;
  --fi-vida-align-items: center;
  --fi-vida-justify-items: center;
  --fi-vida-justify-content: center;
  --fi-vida-display: flex;
  --fi-vida-width: 50px;
  --fi-vida-height: 50px;

  position: relative;
  justify-content: center;
  display: flex;
  margin: 16px 0 4px 0;
  padding: 16px 8px 8px 8px;
  border-radius: 4px;
  border: var(--bordas-contorno);
  width: 250px;
}

.fi-div-iniciativa-titulo{
  position: absolute;
  top: -12px; /* Ajusta para cima da borda */
  left: 68px;
  background: whitesmoke; /* Para cobrir a borda */
  padding: 0 5px;
  transform: translateX(-50%);
}

.fi-div-fila{
  height: auto;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.fi-iniciativa-item{
  width: var(--fi-width);
  gap: var(--fi-gap);
  padding: var(--fi-padding);
  border-bottom: var(--bordas-contorno); 
  display: var(--fi-display);
  flex-direction: var(--fi-flex-direction);
  justify-content: var(--fi-justify-content);
  justify-items: var(--fi-justify-items);
}

.fi-iniciativa-item-selecionado{
  width: var(--fi-width);
  gap: var(--fi-gap);
  padding: var(--fi-padding);
  border-radius: 2px;
  display: var(--fi-display);
  flex-direction: var(--fi-flex-direction);
  justify-content: var(--fi-justify-content);
  justify-items: var(--fi-justify-items);
  background-color: var(--cor-primaria) ;  
  color: white;  
  position: relative;  
}

.fi-iniciativa-item-conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fi-div-vlriniciativa{
  padding: var(--fi-vida-padding);
  align-items: var(--fi-vida-align-items);
  justify-items: var(--fi-vida-justify-items);
  justify-content: var(--fi-vida-justify-content);
  display: var(--fi-vida-display);
  border: 4px solid black;
  border-radius: 25px;
  width: var(--fi-vida-width);
  height: var(--fi-vida-height);
}

.fi-div-vlriniciativa-selecionado{
  padding: var(--fi-vida-padding);
  align-items: var(--fi-vida-align-items);
  justify-items: var(--fi-vida-justify-items);
  justify-content: var(--fi-vida-justify-content);
  display: var(--fi-vida-display);
  border: 4px solid white;
  border-radius: 25px;
  width: var(--fi-vida-width);
  height: var(--fi-vida-height);
}

.fi-iniciativa-item-linha1{
  padding: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-items: center;
  width: 100%;
  margin-left: 4px;
}

.fi-posicao{
  width: 32px;
  filter: brightness(0) invert(1); 
  position: absolute;
  bottom: -14px; /* Ajusta para cima da borda */
  left: 50%;
  transform: translateX(-50%) rotate(180deg) ; /* Gira a imagem 45 graus */
}

.fi-navigator{
  display: flex;
  gap: 2px;
  border: var(--bordas-contorno);
  padding: 4px;
  border-radius: 4px;
  align-items: center;
  justify-items: center;
  margin-bottom: 8px;
}

.fi-navigator-btn{
  width: 32px;
  height: 32px;
  padding: 4px;
}

.fi-navigator-btn:active {
  transform: scale(0.9);
}

.fi-navigator-div{
  border: 1px solid var(--cor-cinzacontorno);
  height: 28px;
  width: 1px;
}

.fi-navigator-turno{
  padding: 2px;
  margin: 2px 0 2px 2px;
  background-color: whitesmoke;
  color: black;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s; /* Efeito suave */
}

.fi-btnremover-selecionado{
  width: 32px;
  height: 32px;
  padding: 4px;
  filter: brightness(0) invert(1); 
}

.fi-iniciativa-item-sublinha{
  font-size: 13px;
}