.App{
  padding: 8px;
  gap: 8px;
  display: flex;
  flex-direction: row;
}

.conteudo{
  width: 100%;
  padding: 8px;
  height: calc(100vh - 6em);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
