.app-container{
  display: flex;
  flex-direction: row;
}

.app-conteudo{
  width: 100%;
  height: calc(100vh);
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
