/* Estiliza o fundo escuro quando o modal está aberto */
.overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mfi-container{
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 0;
  width: 350px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 45px;
}

.mfi-titulo{
  background-color: #000;
  width: 100%;
  font-size: 20px;
  margin-bottom: 8px;
  padding: 8px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #fff;
  height: 48px;
}

.mfi-form{
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.mfi-edit{
  border: 1px solid rgba(0, 0, 0, 0.2); /* Contorno suave */
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
  width: 100%;
  margin: 8px 0;
  font-size: 16px
}

.mfi-edit:focus {
  border-color:  var(--cor-primaria); /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}

.mfi-botoes{
  display: flex;
  justify-content: end;
}

.mfi-btn-cancelar{
  text-decoration: none;
  background: #ea541c;
  border: 0px;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
}

.mfi-sel{
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border-radius: 8px; /* Cantos arredondados */
  padding: 10px 15px; /* Espaçamento interno */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: all 0.3s ease-in-out; /* Suaviza transições */
  width: 100%;
  margin: 8px 0;
}

.mfi-sel:focus {
  border-color:  var(--cor-primaria); /* Cor do contorno ao focar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efeito de leve sombra */
}
