.btn-salvar{
  text-decoration: none;
  background: var(--cor-primaria);
  border: 0px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
}